.profile{ 
    background-color: rgb(31, 47, 63);
    color: white;s
   
}

p{
font-size: 20px;
}
.bbp{
    margin: 30px ;
    background-color:lightgray;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

}