.top{
       background-color: aquamarine;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 10px 30px;
       font-size: 20px;
 } 

.left{
    justify-content: space-between;
}
span{
    font-size: 30px;
}
p{
    font-size: 20px;
}